<!-- views/partials/footer.ejs -->
<div class="footer theme-dark">
  <ul>
    <center>
      Copyright © <%= new Date().getFullYear();%> <a href="https://www.linkedin.com/in/francis-schmaltz-5a54585b/">Francis Schmaltz</a>
    </center>
  </ul>
</div>
<style>
.footer {
	padding: 12px 0;
	font-size: 12px
}

</style>
