<!-- views/partials/head.ejs -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="PG&E Status">
  <title>PG&E Status</title>
  <meta name="description" content="PG&E Outage Status Map. View a live map of PG&E power outages, and get updates of the outage status.">
  <meta name="keywords" content="PG&E, PG&E Outage, PG&E Outage Status, PG&E Status, Power, Outage">
  <link rel="stylesheet" href="/styles/franciskit.built.min.css">
  <link rel="stylesheet" href="/styles/nav.css">

  <script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
    _paq.push(["setDomains", ["*.pgestatus.com"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//a.yb.rs/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '10']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//a.yb.rs/matomo.php?idsite=10&amp;rec=1" style="border:0;" alt="" /></p></noscript>
  <noscript><h1>PG&E Outage Status</h1><h2>Check your power outage status from PG&E here</h2><br><p>Javascript is required.</p></noscript>
</head>
