<!-- views/partials/head.ejs -->
<header class="header-wrapper">
  <section class="header-content section-content">
    <a class="header-link" href="/map">
      <h1 class="header-title">PG&E Status</h1>
    </a>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-list-item">
          <a href="/map">Map</a>
        </li>
        <li class="header-list-item">
          <a href="/help">Help</a>
        </li>
      </ul>
    </nav>
  </section>
</header>
