<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
  <main>
    <% include ../partials/nav %>
    <section class="section-details">
      <div class="section-content">
        <div class="column large-8 medium-10 small-12 large-centered medium-centered">
          <br>
          <br>
          <h2 class="typography-intro">Help</h2>
          <h1 class="typography-title">PG&E Outage Status</h2>
          <br>
          <br>
          <h3 class="typography-subsection-headline">About This Site</h3>
          <p>
            This site pulls data from PG&E directly to deliver the most accurate and up-to-date outage information per address. While this site is going to be more accurate than other maps just showing large areas, this site relies on the PG&E website database to be functioning. While it has previously been working when their website was not, it is also having regular outages.
            <br>
            <br>
            As this is a third-party tool, this site is not affiliated in any way with PG&E, and was created to serve the community.
          </p>
          <h3 class="typography-subsection-headline">Error Messages</h3>
          <p>
            Because this site relies on the PG&E web database (known as an API) to function; if the PG&E API goes down, this site won't work. You might see an error like "502" or "403". If you see an error message, you can try refreshing the page. If results still fail to load, try again some time later.
            <br>
            <br>
            I wish I could provide a better solution, but since this relies on PG&E it's not 100% reliable.
          </p>
          <br>
          <br>
          <br>
          <p>Always check the <a href="http://m.pge.com/#event-map">official PG&E Outage Map</a> (if it is available) for official details</p>
        </div>
      </div>
    </section>
  </main>
  <% include ../partials/footer %>
  </body>
  </script>
</html>
