<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body class="body-fixed">
  <%- include('../partials/nav') %>
  <main>
      <div id="map"></div>
      <div class="search-bar">
        <input id="originInput" type="text" class="origin" placeholder="Search for a place or address" autocomplete='off'/>
        <div id="autocomplete-box">
          <ul id="autocomplete-list"></ul>
        </div>
      </div>
      <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>
      <script src="scripts/map.js?v1.9.1"></script>
  </main>
</body>
<style>
  #map {
      position: fixed;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
  }

  header {
    /* Override position on map */
    position: fixed !important;
  }
  header .section-content {
    width: calc(100% - 32px) !important;
    padding-left: 16px;
    padding-right: 16px;
  }

</style>
</html>
