header {
	left: 0;
	right: 0;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background-color: rgba(255,255,255,.75);
	-webkit-backdrop-filter: saturate(200%) blur(18px);
	backdrop-filter: saturate(200%) blur(18px);
	z-index: 99999;
	transition: all 500ms;
}

.header-link:hover {
  text-decoration: none;
}

.header-title {
  margin: 0;
  padding: 12px 0;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.012em;
  font-weight: 600
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav.header-nav {
  height: 52px;
  display: flex;
}

ul.header-list {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: center;
}

li.header-list-item {
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 22px;
  font-weight: 600;
  font-size: 17px;
  color: #171819;
  border-radius: 6px;
  transition: all 250ms;
}

li.header-list-item:hover {
  background-color: rgba(13,151,255,0.12);
}

li.header-list-item a{
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
}
li.header-list-item a:hover{
  text-decoration: none;
}
li.header-list-item .authd {
	opacity: .6;
}

.footer {
	padding: 12px 0;
	font-size: 12px
}

@media (prefers-color-scheme: dark) {
	header {
		background-color: rgba(0,0,0,.55);
	}
}
.theme-dark 	header {
  background-color: rgba(0,0,0,.55);
  border-bottom: 1px solid #333333
}